@import "./responsive";

/*ACERCA DE*/
.acerca-banner {
    background-image: url(../multimedia/beneficios.jpg);
    background-size: cover;
    background-position: center;
    background-color: $turq;
    box-shadow: inset 3000px 0 0 0 #1d333396;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 5rem;
    padding: 5rem;
    h2 {
        color: $white;
        text-align: center;
    }
}

.beneficios {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 23rem;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
    padding-left: 0;
    text-align: center;
    color: $grey;
    gap: 1rem;
    &__item {
        background-color: $turq-light;
        max-width: 100%;
    }
    @include laptop {
        flex-direction: column;
        margin: 7rem;
        margin-block-start: 2rem;
        margin-block-end: 2rem;
    }
    @include tablet {
        flex-direction: column;
        margin: 7rem;
        margin-block-start: 2rem;
        margin-block-end: 2rem;
    }
    @include movil {
        flex-direction: column;
        margin: 3rem;
        margin-block-start: 2rem;
        margin-block-end: 2rem;
    }
}

.button {
    color: $white;
    background-color: $turq-dark;
    &:hover {
        color: $turq-dark;
        background-color: $turq-light;
    }
}