@import "./responsive";

/*HORARIOS*/
.horarios {
    background-color: $turq-light;
    color: #82898a;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
    margin: 23rem;
    display: block;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    &__titulo {
        text-align: center;
        font-weight: 700;
        color: $grey;
    }
    &__item {
        color: $grey;
        background-color: $turq-light;
    }
    @include tablet {
        margin: 7rem;
        margin-block-start: 2rem;
        margin-block-end: 2rem;
        &__item {
            margin: 7rem;
            margin-block-start: 2rem;
            margin-block-end: 2rem;
        }
    }
    @include movil {
        margin: 3rem;
        margin-block-start: 2rem;
        margin-block-end: 2rem;
        &__item {
            margin: 3rem;
            margin-block-start: 1rem;
            margin-block-end: 1rem;
        }
    }
}